html, body {
  margin: 0;
  padding: 0;
}

header {
	background: #BBBBBB;
	padding: 20px;
}

.caixa {
	position: relative;
	width: 940px;
	margin:  0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
} 

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

#banner {
	width: 100%;
}

.principal {
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	text-transform: uppercase;
	padding: 20px;
	font-family: "Arial";
}

.titulo-centralizado {
	text-align: center;
}

p {
	text-align: center;
}

#missao {
	font size: 20px;
}

em strong {
	color: #0000FF;
}

.itens {
	font-style: italic;
}

.beneficios {

	background: #FFFFFF
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagem_beneficios {
	width: 30%;
}

footer {
	text-align: center;
	background: url('bg.jpg');
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
	
}